@import 'https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900&display=swap';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap';
body {
    margin: 0;
    padding: 0;
}

body::selection {
    background-color: #41B883 !important;
    color: white;
}